/* add css module styles here (optional) */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
.containerPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100vh;
    background: #D9EBFF;
    overflow-y: hidden;
}
.imgPrincipal {
    position: absolute;
    right: 3%;
    top: 15%;
}
.imageDecorationEllipsePrimaire {
    position: absolute;
    right: 0;
    top: 0;
}
.imageDecorationEllipseSecondaire {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: .3;
}
.text-center {
    text-align: center;
}
.bloc-container {
    width: 40%;
}
.textCodeErreur {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 122%;
    color: #009688;
}

.containerText {
    width: 45%;
    margin-left: 5%;
    margin-top: 15%;
    z-index: 99;
}
.imgPrincipalQuantreCentQuatre {
    position: absolute;
    left: 0;
    bottom: 23%;
}
.containerTextQuantreCentQuatre {
    float: right;
    width: 50%;
    margin-top: 9%;
    padding-right: 4%;
    z-index: 99;
}
.imageDecorationpolygonPrimaire {
    position: absolute;
    left: 0;
    top: 0;
}
.imageDecorationpolygonSecondaire {
    position: absolute;
    right: 0;
    top: 0;
    opacity: .3;
}
.textCodeErreurQuantreCentQuatre {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 122%;
    text-align: right;
    color: #009688;
}
.btnAccueil {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 48px;
    text-align: right;
    padding: .3rem 2rem;
    color: #FFFFFF;
    background: #009688;
    border-radius: 50px;
    float: right;
    border-color: #009688;
    border: #009688;
}
.btnAccueil:hover {
    color: #009688;
    background: transparent;
    text-decoration: none;
}
.imageDecorationCerclePrimaire {
    position: absolute;
    top: 18%;
    left: 18%;
    opacity: .5;
}
.imageDecorationCercleSecondaire {
    position: absolute;
    right: 0;
    bottom: 0;
}
.imgPrincipalQuantreCentTrois {
    position: absolute;
    right: 0;
    bottom: 8%;
}
.containerTextQuantreCentTrois {
    width: 40%;
    margin-left: 2%;
    margin-top: 30%;
    z-index: 99;
}
.textCodeErreurQuantreCentTrois {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 122%;
    text-align: right;
    color: #009688;
}
.imageDecorationSubtractPrimaire {
    position: absolute;
    right: 0;
    top: 0;
}
.imageDecorationSubtractSecondaire {
    position: absolute;
    top: 0;
    left: 0;
}
.imgPrincipalCinqCent {
    position: absolute;
    right: 100px;
    top: 8%;
}
.containerTextCinqCent {
    width: 50%;
    margin-top: 25%;
    margin-left: 2%;
    z-index: 99;
}
.textCodeErreurCinqCent {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 122%;
    color: #009688;

}
@media(max-width:575px) {
    .imageDecorationCercleSecondaire {
        width: 80% !important;
    }
    .imgPrincipalQuantreCentTrois {
        width: 60% !important;
    }
    .imageDecorationCerclePrimaire {
        top: 3% !important;
        left: 18% !important;
        width: 45% !important;
    }
    .containerTextQuantreCentTrois {
        width: 50% !important;
        margin-left: 22% !important;
        margin-top: 71% !important;
    }
    .textCodeErreurQuantreCentTrois {
        font-size: 22px !important;
    }
    .imageDecorationEllipsePrimaire {
        width: 60% !important;
    }
    .imgPrincipal {
        width: 50% !important;
        top: 3% !important;
    }
    .textCodeErreur {
        font-size: 20px !important;
    }
    .containerText {
        width: 70% !important;
        margin-left: 13% !important;
        margin-top: 67% !important;
    }
    .imageDecorationEllipseSecondaire {
        width: 70% !important;
    }
    .imgPrincipalQuantreCentQuatre {
        width: 71% !important;
        left: 3% !important;
        bottom: 36% !important;
    }
    .imageDecorationpolygonPrimaire {
        width: 80% !important;
        height: 100%;
    }
    .imageDecorationpolygonSecondaire {
        width: 50%;
    }
    .containerTextQuantreCentQuatre {
        margin-top: 25% !important;
    }
    .textCodeErreurQuantreCentQuatre {
        font-size: 18px !important;
    }
    .btnAccueil {
        font-size: 18px !important;
        line-height: 20px !important;
    }
    .imgPrincipalCinqCent {
        width: 33% !important;
        right: 31px !important;
        top: 5% !important;
    }
    .imageDecorationSubtractPrimaire {
        width: 50% !important;
    }
    .imageDecorationSubtractSecondaire {
        width: 15% !important;
    }
    .containerTextCinqCent {
        width: 66% !important;
        margin-top: 50% !important;
    }
    .textCodeErreurCinqCent {
        font-size: 22px !important;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .imageDecorationCercleSecondaire {
        width: 50% !important;
    }
    .imgPrincipalQuantreCentTrois {
        width: 40% !important;
    }
    .containerTextQuantreCentTrois {
        width: 45% !important;
        margin-left: 4% !important;
        margin-top: 100% !important;
    }
    .textCodeErreurQuantreCentTrois {
        font-size: 30px !important;
    }
    .imageDecorationEllipsePrimaire {
        width: 50% !important;
    }
    .imgPrincipal {
        width: 40% !important;
        top: 5% !important;
    }
    .textCodeErreur {
        font-size: 22px !important;
    }
     .imgPrincipalQuantreCentQuatre {
        width: 57% !important;
        bottom: 31% !important;
    }
    .imageDecorationpolygonPrimaire {
        width: 70% !important;
        height: 100%;
    }
    .containerTextQuantreCentQuatre {
        width: 65% !important;
        margin-top: 50% !important;
        padding-right: 0% !important;
    }
    .textCodeErreurQuantreCentQuatre {
        font-size: 24px !important;
    }
    .btnAccueil {
        font-size: 20px !important;
        line-height: 29px !important;
    }
    .imgPrincipalCinqCent {
        width: 30% !important;
        right: 62px !important;
        top: 7% !important;
    }
    .imageDecorationSubtractPrimaire {
        width: 50% !important;
    }
    .imageDecorationSubtractSecondaire {
        width: 15% !important;
    }
    .containerTextCinqCent {
        width: 40% !important;
    }
    .textCodeErreurCinqCent {
        font-size: 22px !important;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .imageDecorationCercleSecondaire {
        width: 50% !important;
    }
    .imgPrincipalQuantreCentTrois {
        width: 40% !important;
    }
    .imageDecorationCerclePrimaire {
        top: 8% !important;
        left: 14% !important;
    }
    .containerTextQuantreCentTrois {
        width: 45% !important;
        margin-left: -4% !important;
        margin-top: 68% !important;
    }
    .textCodeErreurQuantreCentTrois {
        font-size: 30px !important;
    }
    .imageDecorationEllipsePrimaire {
        width: 50% !important;
    }
    .imgPrincipal {
        width: 40% !important;
        top: 6% !important;
    }
    .textCodeErreur {
        font-size: 30px !important;
    }
    .imgPrincipalQuantreCentQuatre {
        width: 57% !important;
        bottom: 31% !important;
    }
    .imageDecorationpolygonPrimaire {
        width: 70% !important;
        height: 100%;
    }
    .containerTextQuantreCentQuatre {
        width: 65% !important;
        margin-top: 50% !important;
        padding-right: 0% !important;
    }
    .textCodeErreurQuantreCentQuatre {
        font-size: 24px !important;
    }
    .btnAccueil {
        font-size: 20px !important;
        line-height: 29px !important;
    }
    .imgPrincipalCinqCent {
        width: 30% !important;
        right: 82px !important;
        top: 10% !important;
    }
    .imageDecorationSubtractPrimaire {
        width: 50% !important;
    }
    .imageDecorationSubtractSecondaire {
        width: 15% !important;
    }
    .containerTextCinqCent {
        width: 40% !important;
    }
    .textCodeErreurCinqCent {
        font-size: 24px !important;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .imageDecorationCercleSecondaire {
        width: 45% !important;
    }
    .imgPrincipalQuantreCentTrois {
        width: 35% !important;
    }
    .containerTextQuantreCentTrois {
        width: 40% !important;
        margin-left: 1% !important;
        margin-top: 54% !important;
    }
    .textCodeErreurQuantreCentTrois {
        font-size: 40px !important;
    }
    .textCodeErreur {
        font-size: 34px !important;
    }
    .containerText {
        margin-top: 15% !important;
    }
    .imageDecorationEllipsePrimaire {
        width: 50% !important;
    }
    .imgPrincipal {
        width: 40% !important;
        top: 8% !important;
    }
    .imgPrincipalQuantreCentQuatre {
        width: 50% !important;
        bottom: 34% !important;
    }
    .imageDecorationpolygonPrimaire {
        width: 60% !important;
        height: 100%;
    }
    .containerTextQuantreCentQuatre {
        width: 40% !important;
        margin-top: 32% !important;
        padding-right: 0% !important;
    }
    .textCodeErreurQuantreCentQuatre {
        font-size: 35px !important;
    }
    .imgPrincipalCinqCent {
        width: 30% !important;
        right: 106px !important;
        top: 12% !important;
    }
    .imageDecorationSubtractPrimaire {
        width: 50% !important;
    }
    .imageDecorationSubtractSecondaire {
        width: 15% !important;
    }
    .containerTextCinqCent {
        width: 40% !important;
        margin-top: 25% !important;
    }
    .textCodeErreurCinqCent {
        font-size: 26px !important;
    }
}
@media (max-width: 1600px) and (min-width: 1200px) {
    .imageDecorationCercleSecondaire {
        width: 50% !important;
    }
    .imgPrincipalQuantreCentTrois {
        width: 40% !important;
    }
    .containerTextQuantreCentTrois {
        width: 40% !important;
        margin-left: 0% !important;
        margin-top: 29% !important;
    }
    .imageDecorationEllipsePrimaire {
        width: 50% !important;
    }
    .imgPrincipal {
        width: 40%;
    }
    .textCodeErreur {
        font-size: 45px !important;
    }
    .imageDecorationpolygonPrimaire {
        width: 60% !important;
        height: 100%;
    }
    .imgPrincipalQuantreCentQuatre {
        width: 50% !important;
        bottom: 30% !important;
    }
    .textCodeErreurQuantreCentQuatre {
        font-size: 54px !important;
    }
    .containerTextQuantreCentQuatre {
        width: 40% !important;
    }
    .imgPrincipalCinqCent {
        width: 40% !important;
        right: 132px !important;
        top: 14% !important;
    }
    .imageDecorationSubtractPrimaire {
        width: 60% !important;
    }
    .imageDecorationSubtractSecondaire {
        width: 15% !important;
    }
    .containerTextCinqCent {
        width: 35% !important;
        margin-top: 20% !important;
    }
    .textCodeErreurCinqCent {
        font-size: 30px !important;
    }
}